{% extends "layout.html" %}
{% block content %}
{% macro grid(tab=tab) -%}
<table class="table table-striped">
  <thead>
    <tr>
    {% for column in columnset[tab] %}
        <th scope="col">{{column}}</th>
    {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for table in tableset[tab] %}
    <tr>
        {% for column in columnset[tab] %}
        <td>{{ table[column] }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{%- endmacro %}
<h3>HRDP Data</h3>
<!-- Nav tabs -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="strain-tab" data-toggle="tab" href="#strain" role="tab" aria-controls="strain" aria-selected="false">Strain</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="animal-tab" data-toggle="tab" href="#animal" role="tab" aria-controls="animal" aria-selected="false">Animal</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="tissue-tab" data-toggle="tab" href="#tissue" role="tab" aria-controls="tissue" aria-selected="false">Tissue</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="sequencing-tab" data-toggle="tab" href="#sequencing" role="tab" aria-controls="sequencing" aria-selected="false">Sequencing</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="analysis-tab" data-toggle="tab" href="#analysis" role="tab" aria-controls="analysis" aria-selected="false">Analysis</a>
    </li>
</ul>
<!-- Tab panes -->
<div class="tab-content">
<!--    <div class="tab-pane fade show active" id="cvocab" role="tabpanel" aria-labelledby="cvocab-tab">{{ grid('cvocab')}}</div>-->
    <div class="tab-pane fade show active" id="strain" role="tabpanel" aria-labelledby="strain-tab">{{ grid('strain')}}</div>
    <div class="tab-pane fade" id="animal" role="tabpanel" aria-labelledby="animal-tab">{{ grid('animal')}}</div>
    <div class="tab-pane fade" id="tissue" role="tabpanel" aria-labelledby="tissue-tab">{{ grid('tissue')}}</div>
    <div class="tab-pane fade" id="sequencing" role="tabpanel" aria-labelledby="sequencing-tab">{{ grid('sequencing')}}</div>
    <div class="tab-pane fade" id="analysis" role="tabpanel" aria-labelledby="analysis-tab">{{ grid('analysis')}}</div>
</div>
{% endblock content %}

