{% extends "layout.html" %}
{% block content %}
{% macro grid(tab=tab) -%}
<table class="table table-striped">
  <thead>
    <tr>
    {% for column in columnset[tab] %}
        <th scope="col">{{column}}</th>
    {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for table in tableset[tab] %}
    <tr>
        {% for column in columnset[tab] %}
        <td>{{ table[column] }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{%- endmacro %}
<h1>HRDP Data</h1>
<!-- Nav tabs -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Strain</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Animal</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-selected="false">Tissue</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Sequencing</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="andrew-tab" data-toggle="tab" href="#andrew" role="tab" aria-controls="andrew" aria-selected="false">Analysis</a>
    </li>
</ul>
<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">{{ grid('strain')}}</div>
    <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">{{ grid('animal')}}</div>
    <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">{{ grid('tissue')}}</div>
    <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">{{ grid('sequencing')}}</div>
    <div class="tab-pane" id="andrew" role="tabpanel" aria-labelledby="andrew-tab">{{ grid('analysis')}}</div>
</div>
{% endblock content %}

