{% extends "layout.html" %}
{% block content %}
<h1>HRDP Sequencing Data</h1>
<table class="table table-striped">
  <thead>
    <tr>
    {% for column in columnset['sequencing'] %}
        <th scope="col">{{column}}</th>
    {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for table in tableset['sequencing'] %}
    <tr>
        {% for column in columnset['sequencing'] %}
        <td>{{ table[column] }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}