<!--
{% extends "data_hrdp.html" %}
{% block table %}
<table class="table table-striped">
  <thead>
    <tr>
        {% for strain in strain_columns %}
          <th scope="col">col</th>
        {% endfor %}
    </tr>
  </thead>
  <tbody>
  {% for strain in strains %}
    <tr>
      <th scope="row">strain.ID</th>
      <td>strain.ID</td>
      <td>strain.name</td>
      <td>strain.type</td>
      <td>strain.living</td>
      <td>strain.source</td>
      <td>strain.note</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock table %}
-->
