{% extends "layout.html" %}
{% block content %}
<h3> Detailed view of {{detail_target}} </h3> 
{% macro grid(table=table) -%}
<table class="table table-sm table-striped">
    {% for column in columnset[table] %}
      <tr>
      {% set class = tableset[table] %}
        <th scope="row">{{column}}</th>

        {% if table == 'Analysis' %}
          {% set classlist = tableset[table] %}
          {% for class in classlist %}
              <td>{{ class[column] }}</td>
          {% endfor %}

        {%elif table == 'Deepvariant results'%}
          {% set classlist = tableset[table] %}
          {% for class1 in classlist %}
              <td>{{ class1[column] }}</td>
          {% endfor %}

        {% else %}
              <td>{{ class[column] }}</td>
        {% endif %}
      </tr>
    {% endfor %}
</table>
{%- endmacro %}
{% macro detail(table=table) -%}
{%- endmacro %}


{% for name in column_list %}
  <h4>{{name}}</h4>
  {{grid(name)}}
{%endfor%}
{% endblock content %}

